:root {
    --main-color:#F2A600;
    --secondary-color: #E26800;
    --highlight-color: #CA1000;
    --background-color-dark: #0e151a;
    --background-color-light: #253744;
    --border-color:white;
    background: linear-gradient(var(--background-color-dark), var(--background-color-light));
}

* {
    box-sizing: border-box;
    /* background-color: var(--background-color); */
    font-family: 'Bungee Spice', cursive;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

header {   
    text-align: center;
}

main {
    
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: stretch; */
    gap: 50px;
}

.card { 
    border-style: dashed;
    border-color: var(--border-color);
    /* flex: 1 0 200px; 
    
    padding: 20px; */
  
    /* margin: 10px 20px 10px 20px; */
}

/* .card h2 {
    border-style: dotted;
    border-color: var(--border-color);
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
} */

/* .card p {
    
} */

/* .card code {
    line-height: 24px;
    width:90%;
    
    background-color: ;
} */


@media screen and (min-width: 768px) {
    .card {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 30%;
    }
}



@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }
}

footer{ 
    text-align: center;
}